@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static/fonts/Lato-Bold.ttf);
}
body {
  width:100%;
  font-family: "Open Sans", monospace;
  margin: 0;
  padding: 0;
  background: url(/static/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
h1, h2, h3, h4 {
  font-family: "Lato", monospace;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
.voting-box {
  background:#222;
  color: #ecf0f1;
  padding-top: 20px;
}
.input-wrap {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  min-width: 300px;
}

.input-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  outline: 0;
  font-size: 17px;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;
  color:#ecf0f1;
}
.input-field::placeholder {
  color: transparent;
}
.input-field:placeholder-shown ~ .textinput-label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}
.textinput-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #bdc3c7;
  background: #222;
}
.input-field:focus {
  padding-bottom: 9px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #e74c3c, #e67e22);
  border-image-slice: 1;
}
.input-field:focus + .textinput-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #e74c3c;
}
/* reset input */
.input-field:required, .input-field:invalid {
  box-shadow: none;
}
.vote-group label {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-top: 10px;
}
.vote-group label > input {
  display: none;
}
.vote-group label > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #e74c3c;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.vote-group label > span:after {
  content: "";
  height: 7px;
  width: 7px;
  background: #e74c3c;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
  transition: 150ms all ease-in-out;
}
.vote-group input:checked ~ span:after {
  transform: translate(-50%,-50%) scale(1);
}
.vote-group input:checked ~ span {
  border-width: 3px;
}
#submit-vote {
  border: none;
  outline: none;
  background: #e74c3c;
  font-family: "Lato";
  font-size: 18px;
  color: #ecf0f1;
  padding: 18px;
  border-radius: 7px;
  cursor:pointer;
  transition: 150ms all ease-in-out;
  margin-bottom: 10px;
}
#submit-vote:hover, #submit-vote:focus {
  background: #c0392b;
}
#submit-vote:disabled {
  background: #bdc3c7;
  cursor: default;
}
#returntxt {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}
a {
  color: #8e44ad;
  transition: all .2s ease-in-out;
  font-weight: 700;
}
a:hover {
  color: #333;
}
textarea {
  height: 125px;
}
textarea.input-field {
  padding: 15px 0;
}
textarea.input-field:focus {
  padding-bottom: 14px;
}
#datepicker-wrap, #custom-donate-wrap {
  height: 0px;
  overflow: hidden;
  transition: all .3s ease;
}
#datepicker-wrap > input, #custom-donate-wrap > input {
  margin-left: 20px;
  padding: 10px;
  font-family: "Open Sans", monospace;
  font-size: 16px;
  background-color: #eaeaea;
  border: none;
  outline: none;
  border-radius: 10px;
}
@media only screen and (max-width: 400px) {
  .input-wrap {
    min-width: 100%;
  }
}
@media only screen and (max-width: 810px) {
  textarea {
    padding: 25px 0 !important;
  }
}
